@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
:root {
  --body: #111;
  --gray: #333;
  --light: #666;
  --white: #fff;
  --blue: #10218B;
  --mint: #1BA0FF;
  --space: 120px;
}
@media (max-width: 1439.98px) {
  :root {
    --space: 60px;
  }
}
@media (max-width: 995.98px) {
  :root {
    --space: 40px;
  }
}
@media (max-width: 575.98px) {
  :root {
    --space: 16px;
  }
}

body, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, label {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", -apple-system, sans-serif;
  color: inherit;
  outline: 0;
  border: 0;
  font-weight: inherit;
}

body {
  line-height: 1.5;
  word-break: keep-all;
  color: var(--body);
}
body * {
  box-sizing: border-box;
}

a {
  color: inherit;
}
a:hover, a:focus, a:active {
  text-decoration: none !important;
  color: inherit;
}

li {
  list-style: none;
}

address, em {
  font-style: normal;
}

table {
  width: 100%;
}

textarea {
  resize: none;
  font-size: 1rem;
  outline: 0;
}

u {
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

img {
  vertical-align: top;
  max-width: 100%;
}

button {
  cursor: pointer;
  outline: 0 !important;
}
button.no-style {
  background: none;
  line-height: 1;
  border: 0;
}

.font-kor {
  font-family: "Pretendard", sans-serif;
}

.font-eng {
  font-family: "Readex Pro", sans-serif;
}

.text-base {
  font-size: 1rem !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.display-01 {
  font-size: 5.5555555556rem;
  font-weight: 700 !important;
  letter-spacing: -0.1666666667rem;
}
@media (max-width: 1439.98px) {
  .display-01 {
    font-size: 4rem;
  }
}

.display-02 {
  font-size: 4rem;
  font-weight: 800 !important;
  letter-spacing: -0.12rem;
}
@media (max-width: 1439.98px) {
  .display-02 {
    font-size: 3.5555555556rem;
  }
}
@media (max-width: 575.98px) {
  .display-02 {
    font-size: 40px;
  }
}

.tit01 {
  font-size: 3.5555555556rem;
  font-weight: 800;
  letter-spacing: -0.1066666667rem;
}
@media (max-width: 1439.98px) {
  .tit01 {
    font-size: 3.1111111111rem;
  }
}
@media (max-width: 1199.98px) {
  .tit01 {
    font-size: 2.6666666667rem;
  }
}
@media (max-width: 575.98px) {
  .tit01 {
    font-size: 40px;
  }
}

.tit02 {
  font-size: 3.1111111111rem;
  font-weight: 800;
  letter-spacing: -0.0933333333rem;
}
@media (max-width: 1439.98px) {
  .tit02 {
    font-size: 2.6666666667rem;
  }
}
@media (max-width: 1199.98px) {
  .tit02 {
    font-size: 40px;
  }
}

.tit03 {
  font-size: 1.7777777778rem;
  font-weight: 800;
  letter-spacing: -0.0533333333rem;
}
@media (max-width: 1199.98px) {
  .tit03 {
    font-size: 1.5555555556rem;
  }
}
@media (max-width: 575.98px) {
  .tit03 {
    font-size: 24px;
  }
}

.tit04 {
  font-size: 1.5555555556rem;
  letter-spacing: -0.0466666667rem;
}
@media (max-width: 1199.98px) {
  .tit04 {
    font-size: 24px;
  }
}
@media (max-width: 575.98px) {
  .tit04 {
    font-size: 20px;
  }
}

.tit05 {
  font-size: 1.3333333333rem;
  letter-spacing: -0.04rem;
}
@media (max-width: 1199.98px) {
  .tit05 {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .tit05 {
    font-size: 18px;
  }
}

.text-lg {
  font-size: 1.1111111111rem;
  letter-spacing: -0.0333333333rem;
}
@media (max-width: 575.98px) {
  .text-lg {
    font-size: 18px;
  }
}

.text-sm {
  font-size: 14px;
  letter-spacing: -0.0233333333rem;
}

.text-blue {
  color: var(--blue) !important;
}

.text-mint {
  color: var(--mint) !important;
}

.text-gray {
  color: var(--gray) !important;
}

.text-light {
  color: var(--light) !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

@media (min-width: 576px) {
  .scrollset::-webkit-scrollbar {
    width: 3px;
  }
  .scrollset::-webkit-scrollbar-track {
    border-left: 3px solid transparent;
    background: #efefef;
    background-clip: padding-box;
    cursor: pointer;
  }
  .scrollset::-webkit-scrollbar-thumb {
    background: #BCBCBC;
    border-radius: 0;
    background-clip: padding-box;
    cursor: pointer;
  }
  .scrollset::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }
}
/* 
	컴포넌트 스타일
	:: icon
	:: Button ,badge
	:: Form
	:: box 
	:: list
	:: Modal 
	:: Swiper
*/
.icon-arr {
  display: block;
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  background: url(../images/btn-arr.svg) no-repeat center/contain;
  transition: transform 0.3s;
}
.icon-arr.wh {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(12deg) brightness(104%) contrast(101%);
}

.bt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.4444444444rem;
  padding: 0.8888888889rem 1.7777777778rem;
  border-radius: 100px;
  font-weight: 800;
  line-height: 1.3;
  background-color: #fff;
  text-wrap: nowrap;
}
.bt:has(.icon-arr) {
  padding: 0.8888888889rem 1.3333333333rem 0.8888888889rem 1.7777777778rem;
}
.bt:has(.icon-arr).bt-lg {
  padding: 1.3333333333rem 1.3333333333rem 1.3333333333rem 1.7777777778rem;
}
.bt:has(.icon-arr):hover .icon-arr, .bt:has(.icon-arr):focus .icon-arr {
  transform: translateX(0.2222222222rem);
}
.bt-lg {
  padding: 1.3333333333rem 1.7777777778rem;
}
.bt-outline {
  background-color: var(--blue);
  color: #fff;
  border: 2px solid var(--blue);
  transition: all 0.3s;
}
.bt-outline:hover, .bt-outline:focus {
  background-color: #fff;
  color: var(--blue);
}
.bt-blue {
  border: 2px solid var(--blue);
  background: var(--blue);
  color: #fff;
  transition: all 0.3s;
}
.bt-blue:hover, .bt-blue:focus {
  background: #fff;
  color: var(--blue);
}
@media (max-width: 767.98px) {
  .bt {
    padding: 0.6666666667rem 1.3333333333rem;
  }
  .bt:has(.icon-arr) {
    padding: 0.6666666667rem 1rem 0.6666666667rem 1.3333333333rem;
  }
  .bt:has(.icon-arr).bt-lg {
    padding: 1rem 1rem 1rem 1.3333333333rem;
  }
  .bt-lg {
    padding: 1rem 1.3333333333rem;
  }
}

.text-bg-blue {
  position: relative;
  margin: 0 0.4444444444rem;
  line-height: 1;
}
.text-bg-blue::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 108%;
  height: 90%;
  background: var(--blue);
}
.text-bg-blue.space-left {
  margin-left: 0.8333333333rem;
}
.text-bg-blue.space-right {
  margin-right: 0.8333333333rem;
}

body {
  font-family: "Pretendard", sans-serif;
  padding: 0 !important;
}

.container {
  margin: 0 auto;
  padding-left: var(--space);
  padding-right: var(--space);
  max-width: 1920px;
}

html:has(.detailForTomorrow) {
  overflow-x: hidden;
  font-size: 18px;
  letter-spacing: -0.03rem;
}
@media (max-width: 768px), (max-height: 800px) {
  html:has(.detailForTomorrow) {
    font-size: 15px;
  }
}
.detailForTomorrow #videoPopup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.detailForTomorrow #videoPopup.show {
  display: flex;
}
.detailForTomorrow #videoPopup .popup-content {
  padding: 0;
  width: 96%;
  max-width: 1100px;
  background: none;
}
.detailForTomorrow #videoPopup .popup-content .popup-header {
  border-bottom: 0;
  text-align: right;
}
.detailForTomorrow #videoPopup .popup-content .popup-header .btn-close {
  width: 2.5rem;
  height: 2.5rem;
  background: url(../images/modal-close.svg) no-repeat center/contain;
}
.detailForTomorrow #videoPopup .popup-content .popup-body {
  padding-top: 0;
}
.detailForTomorrow #videoPopup .popup-content .popup-body .video-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 62.5%;
}
.detailForTomorrow #videoPopup .popup-content .popup-body .video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .detailForTomorrow #videoPopup {
    display: none !important;
  }
}
.detailForTomorrow .sect {
  width: 100%;
  overflow-x: clip !important;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #fff;
}
.detailForTomorrow .sect.sect1 {
  position: relative;
  height: calc(var(--vh, 1vh) * 100 + 1px);
  text-align: center;
}
.detailForTomorrow .sect.sect1 .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.detailForTomorrow .sect.sect1 .bg.bg1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detailForTomorrow .sect.sect1 .bg.bg1::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.detailForTomorrow .sect.sect1 .bg.bg2 {
  opacity: 0;
  background: url(../images/sect1-bg2.jpg) no-repeat top center/cover;
}
.detailForTomorrow .sect.sect1 .tit-wrap b {
  font-size: 1.6666666667rem;
}
.detailForTomorrow .sect.sect1 .tit-wrap > *:last-child {
  margin-top: 1.3333333333rem;
}
.detailForTomorrow .sect.sect1 .cont {
  height: calc(var(--vh, 1vh) * 100);
  text-align: center;
  opacity: 0;
}
.detailForTomorrow .sect.sect1 .cont > .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.detailForTomorrow .sect.sect1 .cont1 {
  opacity: 1;
}
.detailForTomorrow .sect.sect1 .cont1 .scroll-down {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 0.7777777778rem;
  font-weight: 700;
}
.detailForTomorrow .sect.sect1 .cont1 .scroll-down .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5555555556rem;
  height: 3.5555555556rem;
  border: 2px solid #fff;
  border-radius: 100px;
  margin-top: 4px;
}
.detailForTomorrow .sect.sect1 .cont1 .scroll-down .arrow img {
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  animation: arrow 0.3s infinite alternate ease-in;
}
@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(5px);
  }
}
.detailForTomorrow .sect.sect1 .cont2 .txt p {
  position: relative;
  display: inline-block;
}
.detailForTomorrow .sect.sect1 .cont2 .txt p span {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6666666667rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
  text-wrap: nowrap;
}
.detailForTomorrow .sect.sect1 .cont2 .txt p .text-bg {
  position: relative;
}
.detailForTomorrow .sect.sect1 .cont2 .txt p .text-bg .bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -52%);
  width: 105%;
  height: 80%;
  background: var(--blue);
  opacity: 0;
  transition: opacity 0.3s;
}
.detailForTomorrow .sect.sect1 .cont2 .bt {
  position: absolute;
  z-index: 101;
  top: 52%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.3333333333rem;
  width: 14.8888888889rem;
  height: 5rem;
  opacity: 0;
  display: none;
}
.detailForTomorrow .sect.sect1 .cont2 .lines {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.detailForTomorrow .sect.sect1 .cont2 .lines .line1 {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: calc(var(--vh, 1vh) * 100);
}
.detailForTomorrow .sect.sect1 .cont2 .lines .line1::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(49, 125, 233, 0) 0%, #317DE9 20%, #31C7E9 80%, rgba(49, 199, 233, 0) 100%);
  position: absolute;
  left: 0;
  top: 0;
}
.detailForTomorrow .sect.sect1 .cont2 .lines .line2 {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 4px;
}
.detailForTomorrow .sect.sect1 .cont2 .lines .line2::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(49, 125, 233, 0) 0%, #317DE9 20%, #31C7E9 80%, rgba(49, 199, 233, 0) 100%);
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 1439.98px) {
  .detailForTomorrow .sect.sect1 .cont2 .txt p span {
    top: 120%;
  }
}
@media (max-width: 767.98px) {
  .detailForTomorrow .sect.sect1 .cont2 .txt p span {
    top: 100%;
    font-size: 18px;
  }
  .detailForTomorrow .sect.sect1 .cont2 .bt {
    top: 62%;
    width: 13.3333333333rem;
    height: 4.4444444444rem;
  }
  .detailForTomorrow .sect.sect1 .cont2 .lines .line1 {
    top: 44%;
    height: 64px;
  }
  .detailForTomorrow .sect.sect1 .cont2 .lines .line2 {
    top: 44%;
  }
}
.detailForTomorrow .sect.sect1 .cont3 .txt-wrap p {
  display: inline-block;
}
.detailForTomorrow .sect.sect1 .cont3 .txt-wrap p:not(:has(.text-bg)) {
  color: transparent;
}
.detailForTomorrow .sect.sect1 .cont3 .txt-wrap p:not(:has(.text-bg)) * {
  background-clip: text !important;
  -webkit-background-clip: text;
  background: rgba(255, 255, 255, 0.2);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 575.98px) {
  .detailForTomorrow .sect.sect1 .cont3 .container {
    max-width: 90%;
  }
  .detailForTomorrow .sect.sect1 .cont3 .tit01 {
    font-size: 24px !important;
    line-height: 1.8;
  }
}
.detailForTomorrow .sect.sect1 .cont4 .container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 4.4444444444rem;
  padding-bottom: 2.2222222222rem;
  width: 100%;
}
.detailForTomorrow .sect.sect1 .cont4 .bx-wrap {
  position: relative;
  margin-top: 2.7777777778rem;
  width: 100%;
  height: calc(var(--vh, 1vh) * 60);
  overflow: hidden;
}
.detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: calc(var(--vh, 1vh) * 60);
  height: 100%;
  border-radius: 1.3333333333rem;
  border: 2px solid rgba(255, 255, 255, 0.24);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 3.3333333333rem 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(8px);
  opacity: 0;
}
.detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text {
  display: flex;
  align-items: start;
  gap: 3.3333333333rem;
  padding: 3.5555555556rem;
  text-wrap: nowrap;
}
.detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .detail {
  font-size: 2.6666666667rem;
  font-weight: 800;
  text-align: left;
}
.detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .detail .bar {
  display: block;
  margin: 0.4444444444rem 0;
  width: 1px;
  height: 2.6666666667rem;
  background-color: #fff;
}
.detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .detail p {
  text-wrap: nowrap;
}
.detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .detail p:last-of-type {
  margin-top: 1.3333333333rem;
}
.detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .image {
  padding: 0.8888888889rem;
  overflow: hidden;
}
.detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.3333333333rem;
  overflow: hidden;
}
@media screen and (max-height: 900px) {
  .detailForTomorrow .sect.sect1 .cont4 .container {
    padding-top: 2.7777777778rem;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap {
    max-height: calc(var(--vh, 1vh) * 55);
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text {
    padding: 1rem;
  }
}
@media (max-width: 1199.98px) {
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .char {
    width: 120px;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .image {
    max-width: 350px;
  }
}
@media (max-width: 995.98px) {
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text {
    position: relative;
    padding: 24px;
    height: 55%;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .char {
    position: absolute;
    top: 10px;
    right: -5px;
    width: 180px;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .detail {
    display: flex;
    flex-direction: column;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .detail .bar {
    margin: 4px 0;
    width: 1px;
    height: 24px;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .detail p {
    text-wrap: nowrap;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .detail p:last-of-type {
    margin-top: 8px;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .image {
    height: 45%;
    padding: 16px;
    max-width: none;
  }
}
@media (max-width: 767.98px) {
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx {
    max-height: calc(var(--vh, 1vh) * 55);
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .detail {
    font-size: 40px;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .char {
    width: 150px;
  }
}
@media (max-width: 767.98px) {
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap {
    margin-top: 24px;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .detail {
    font-size: 32px;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .tit04 {
    margin-top: 4px !important;
    font-size: 18px !important;
  }
}
@media (min-width: 996px) {
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx {
    display: flex;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx:nth-of-type(2) .image {
    padding: 2.2222222222rem 0 2.2222222222rem 2.2222222222rem;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text {
    flex: 960;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .text .char {
    min-width: 120px;
  }
  .detailForTomorrow .sect.sect1 .cont4 .bx-wrap .bx .image {
    flex: 720;
    padding: 2.2222222222rem 2.2222222222rem 2.2222222222rem 0;
  }
}
.detailForTomorrow .sect.sect1 .cont5 .container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 4.4444444444rem;
  width: 100%;
  height: 100%;
}
.detailForTomorrow .sect.sect1 .cont5 .bx-wrap {
  display: flex;
  gap: 1.3333333333rem;
  margin-top: 3.1111111111rem;
  width: 100%;
  overflow: hidden;
}
.detailForTomorrow .sect.sect1 .cont5 .bx-wrap .bx {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1.3333333333rem;
  border: 2px solid rgba(255, 255, 255, 0.24);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 3.3333333333rem 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(8px);
}
.detailForTomorrow .sect.sect1 .cont5 .bx-wrap .bx .image {
  overflow: hidden;
}
.detailForTomorrow .sect.sect1 .cont5 .bx-wrap .bx .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.3333333333rem;
}
.detailForTomorrow .sect.sect1 .cont5 .bx-wrap .bx .text {
  padding: 1.3333333333rem 1.3333333333rem 2.2222222222rem;
}
.detailForTomorrow .sect.sect1 .cont5 .bx-wrap .bx .text p {
  margin-top: 0.4444444444rem;
}
@media screen and (max-height: 900px) {
  .detailForTomorrow .sect.sect1 .cont5 .container {
    padding-top: 2.7777777778rem;
  }
  .detailForTomorrow .sect.sect1 .cont5 .bx-wrap {
    max-height: calc(var(--vh, 1vh) * 55);
  }
  .detailForTomorrow .sect.sect1 .cont5 .bx-wrap .bx .text {
    padding: 1rem;
  }
}
@media (max-width: 767.98px) {
  .detailForTomorrow .sect.sect1 .cont5 .bx-wrap {
    flex-direction: column;
  }
  .detailForTomorrow .sect.sect1 .cont5 .bx-wrap .bx {
    flex-direction: row;
    min-height: calc(var(--vh, 1vh) * 22);
  }
  .detailForTomorrow .sect.sect1 .cont5 .bx-wrap .bx .image {
    flex: 1;
  }
  .detailForTomorrow .sect.sect1 .cont5 .bx-wrap .bx .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
.detailForTomorrow .sect.sect2 .tit-wrap span {
  display: inline-block;
  margin-bottom: 0.4444444444rem;
}
.detailForTomorrow .sect.sect2 .cont1 {
  position: relative;
  z-index: 0;
  padding-top: 11.1111111111rem;
  background: var(--blue);
}
.detailForTomorrow .sect.sect2 .cont1 .txt-wrap {
  color: transparent;
}
.detailForTomorrow .sect.sect2 .cont1 .txt-wrap * {
  background-clip: text !important;
  -webkit-background-clip: text;
  background: rgba(255, 255, 255, 0.2);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
}
.detailForTomorrow .sect.sect2 .cont1 .tree {
  margin-top: 2.3888888889rem;
  mix-blend-mode: screen;
}
.detailForTomorrow .sect.sect2 .cont1 .tree img {
  width: 100%;
}
.detailForTomorrow .sect.sect2 .cont2 {
  padding-top: 2.2222222222rem;
  padding-bottom: 4.4444444444rem;
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap {
  display: flex;
  gap: 2.2222222222rem;
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap + .detail-wrap {
  margin-top: 8.8888888889rem;
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.2222222222rem;
  flex: 1;
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap {
  text-align: center;
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap .product {
  display: inline-block;
  position: relative;
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap .product > span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap .bx {
  position: absolute;
  top: -10%;
  right: -10%;
  padding: 1.3333333333rem;
  text-wrap: nowrap;
  border-radius: 1.3333333333rem;
  border: 2px solid rgba(255, 255, 255, 0.24);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 3.3333333333rem 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap .bt {
  margin-top: 1.1111111111rem;
  background-color: var(--mint);
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .iconBx-wrap {
  display: flex;
  gap: 1.3333333333rem;
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .iconBx-wrap .iconBx {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8888888889rem;
  padding: 1.7777777778rem;
  background: #F5F9FF;
  border-radius: 1.3333333333rem;
  font-size: 18px;
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap .shorts {
  min-width: 400px;
  border-radius: 1.3333333333rem;
  overflow: hidden;
}
.detailForTomorrow .sect.sect2 .cont2 .detail-wrap .shorts iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1199.98px) {
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text {
    align-items: center;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap .bx {
    right: -10%;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .iconBx-wrap {
    display: flex;
    gap: 1.3333333333rem;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .iconBx-wrap .iconBx {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8888888889rem;
    padding: 48px 1.7777777778rem;
    background: #F5F9FF;
    border-radius: 1.3333333333rem;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .shorts {
    position: relative;
    height: 0;
    padding-top: 67%;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .shorts iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
@media (max-width: 767.98px) {
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap {
    margin-top: 4.4444444444rem;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap .product + .product {
    margin-top: 2.2222222222rem;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap .bx {
    top: -5%;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    min-width: 240px;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap.product-wrap2 .bx {
    top: -20%;
    right: auto;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .iconBx-wrap {
    flex-direction: column;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .shorts {
    margin-top: 2.2222222222rem;
    padding-top: 178% !important;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 1200px) {
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap {
    position: relative;
    align-items: end;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap .product {
    margin: 0 auto;
    width: 48%;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap .bt {
    margin-left: auto;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap.product-wrap2 {
    padding-left: 0;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap.product-wrap2 .bx {
    right: -20%;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap.product-wrap2 .bt {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 9%;
  }
}
@media (min-width: 1440px) {
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap {
    display: flex;
    gap: 2.2222222222rem;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap .bx {
    top: -20%;
    right: -60%;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap.product-wrap2 .bx {
    top: 0;
  }
}
@media (min-width: 1600px) {
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap {
    padding-left: 6.66vw;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap .bx {
    top: -10%;
    width: 16.6666666667rem;
    padding: 1.7777777778rem;
  }
  .detailForTomorrow .sect.sect2 .cont2 .detail-wrap .text .product-wrap.product-wrap2 .bx {
    right: -32%;
  }
}
.detailForTomorrow .sect.sect2 .cont3 {
  padding: 4.4444444444rem 0 7.7777777778rem;
  background: url(../images/sect2-cont3-bg.jpg) no-repeat bottom center/contain;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap {
  display: flex;
  gap: 0.8888888889rem;
  margin: 3.1111111111rem auto 0;
  max-width: 1440px;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.3333333333rem;
  padding: 1.3333333333rem;
  border-radius: 1.3333333333rem;
  border: 2px solid rgba(255, 255, 255, 0.24);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 3.3333333333rem 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.3s;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx .image {
  width: 100%;
  border-radius: 0.8888888889rem;
  overflow: hidden;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.1111111111rem;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx .arr-wrap {
  width: 2.2222222222rem;
  transition: width 0.5s;
  will-change: width;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx .arr-wrap .arr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  border-radius: 100px;
  background-color: var(--mint);
  transition: background-color 0.5s;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx .arr-wrap .arr::after {
  content: "";
  display: block;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  background: url(../images/btn-arr.svg) no-repeat center/contain;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(12deg) brightness(104%) contrast(101%);
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx:hover {
  background-color: var(--blue);
  border-color: var(--blue);
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx:hover .text {
  color: #fff !important;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx:hover .text .text-blue {
  color: var(--mint) !important;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx:hover .text .text-gray {
  color: #fff !important;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx:hover .arr-wrap {
  width: 100%;
}
.detailForTomorrow .sect.sect2 .cont3 .bx-wrap .bx:hover .arr-wrap .arr {
  background-color: var(--mint);
}
@media (max-width: 995.98px) {
  .detailForTomorrow .sect.sect2 .cont3 {
    background: url(../images/sect2-cont3-bg-mo.jpg) no-repeat bottom center/contain;
  }
  .detailForTomorrow .sect.sect2 .cont3 .bx-wrap {
    flex-direction: column;
  }
}
.detailForTomorrow .sect.sect3 {
  background: url(../images/sect3-bg.jpg) no-repeat top center/cover;
}
.detailForTomorrow .sect.sect3 .tit-wrap {
  max-height: 300px !important;
}
.detailForTomorrow .sect.sect3 .tit-wrap .tit {
  margin-bottom: 1.3333333333rem;
  color: transparent;
}
.detailForTomorrow .sect.sect3 .tit-wrap .tit * {
  background-clip: text !important;
  -webkit-background-clip: text;
  background: rgba(255, 255, 255, 0.2);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
}
.detailForTomorrow .sect.sect3 .tit-wrap .tit * {
  background: rgba(255, 255, 255, 0.4);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.4);
}
.detailForTomorrow .sect.sect3 .cont1 {
  position: relative;
}
.detailForTomorrow .sect.sect3 .cont1 .tree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  mix-blend-mode: screen;
  opacity: 1;
  transition: opacity 0.5s;
}
.detailForTomorrow .sect.sect3 .cont1 .tree img {
  position: absolute;
  bottom: 0;
  left: var(--space);
  height: calc(var(--vh, 1vh) * 40);
}
.detailForTomorrow .sect.sect3 .cont1 .tree.hide {
  opacity: 0;
}
.detailForTomorrow .sect.sect3 .cont1 .container {
  display: flex;
  justify-content: space-between;
  padding-top: 8.8888888889rem;
  padding-bottom: 8.8888888889rem;
}
.detailForTomorrow .sect.sect3 .cont1 .act-wrap {
  display: flex;
  gap: 1.3333333333rem;
}
.detailForTomorrow .sect.sect3 .cont1 .act-wrap .column:nth-of-type(2) {
  padding-top: 8.8888888889rem;
}
.detailForTomorrow .sect.sect3 .cont1 .act-wrap .act {
  position: relative;
  max-width: 24.8888888889rem;
  background-color: #fff;
  border-radius: 1.3333333333rem;
  overflow: hidden;
}
.detailForTomorrow .sect.sect3 .cont1 .act-wrap .act + .act {
  margin-top: 1.3333333333rem;
}
.detailForTomorrow .sect.sect3 .cont1 .act-wrap .act .text {
  padding: 1.7777777778rem 1.7777777778rem 3.1111111111rem;
  word-break: keep-all;
}
.detailForTomorrow .sect.sect3 .cont1 .act-wrap .act .text p {
  min-height: 3rem;
}
.detailForTomorrow .sect.sect3 .cont1 .act-wrap .act .image {
  width: 100%;
}
.detailForTomorrow .sect.sect3 .cont1 .act-wrap .act .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detailForTomorrow .sect.sect3 .cont1 .act-wrap .act .bt-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8888888889rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
}
.detailForTomorrow .sect.sect3 .cont1 .act-wrap .act .bt-wrap .bt {
  width: 8rem;
}
.detailForTomorrow .sect.sect3 .cont1 .act-wrap .act:hover .bt-wrap {
  opacity: 1;
}
@media (max-width: 1599.98px) {
  .detailForTomorrow .sect.sect3 .cont1 .act-wrap .act {
    max-width: 17.7777777778rem;
  }
  .detailForTomorrow .sect.sect3 .cont1 .act-wrap .act .text {
    padding: 1.7777777778rem 1.3333333333rem 1.3333333333rem;
  }
}
@media (max-width: 1199.98px) {
  .detailForTomorrow .sect.sect3 .cont1 .tree img {
    height: calc(var(--vh, 1vh) * 35);
  }
  .detailForTomorrow .sect.sect3 .cont1 .act-wrap .act {
    max-width: 21.1111111111rem;
  }
}
@media (max-width: 995.98px) {
  .detailForTomorrow .sect.sect3 .cont1 .act-wrap .act {
    max-width: 19.4444444444rem;
  }
}
@media (max-width: 767.98px) {
  .detailForTomorrow .sect.sect3 .cont1 .tree {
    display: none;
  }
  .detailForTomorrow .sect.sect3 .cont1 .container {
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .detailForTomorrow .sect.sect3 .cont1 .act-wrap {
    display: block;
    margin-top: 3.1111111111rem;
  }
  .detailForTomorrow .sect.sect3 .cont1 .act-wrap .act {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    height: auto;
  }
  .detailForTomorrow .sect.sect3 .cont1 .act-wrap .act + .act {
    margin-top: 0;
  }
  .detailForTomorrow .sect.sect3 .cont1 .act-wrap .swiper-pagination {
    position: static;
    margin-top: 2.2222222222rem;
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
  }
  .detailForTomorrow .sect.sect3 .cont1 .act-wrap .swiper-pagination .swiper-pagination-progressbar-fill {
    background-color: #fff;
  }
}
.detailForTomorrow .sect.sect3 .cont2 {
  position: relative;
  z-index: 1;
  padding: 8.8888888889rem 0;
}
.detailForTomorrow .sect.sect3 .cont2 .container {
  display: flex;
  gap: 6.6666666667rem;
  padding-right: 0 !important;
}
.detailForTomorrow .sect.sect3 .cont2 .tit-wrap {
  max-width: 293px;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper {
  flex: 1;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper * {
  box-shadow: none !important;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-slide {
  max-width: 30.7777777778rem;
  width: 30.7777777778rem;
  height: auto;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-slide .slide-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-slide .slide-inner .image {
  margin: 0 auto;
  width: 86.64%;
  text-align: center;
  border-radius: 1.3333333333rem;
  overflow: hidden;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-slide .slide-inner .bx {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -7%;
  padding: 1.6666666667rem;
  border-radius: 1.3333333333rem;
  border: 2px solid rgba(255, 255, 255, 0.24);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 3.3333333333rem 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-slide .slide-inner .bx p {
  margin-top: 1.3333333333rem;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-slide .slide-inner .bx .bt-wrap {
  margin-top: 0.4444444444rem;
  text-align: right;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-controls {
  margin-top: 4.4444444444rem;
  display: flex;
  align-items: center;
  gap: 0.8888888889rem;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-controls * {
  position: static;
  transform: none;
  margin: 0;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-controls .swiper-pagination {
  width: 44px;
  font-family: "Readex Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-controls .swiper-button-prev {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background: url(../images/swiper-arr.svg) no-repeat center/contain;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-controls .swiper-button-prev::after {
  display: none;
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-controls .swiper-button-next {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  background: url(../images/swiper-arr.svg) no-repeat center/contain;
  transform: scaleX(-1);
}
.detailForTomorrow .sect.sect3 .cont2 .swiper-controls .swiper-button-next::after {
  display: none;
}
@media (max-width: 1199.98px) {
  .detailForTomorrow .sect.sect3 .cont2 .container {
    gap: 4.4444444444rem;
  }
  .detailForTomorrow .sect.sect3 .cont2 .swiper-slide {
    max-width: 24.4444444444rem;
    width: 24.4444444444rem;
  }
  .detailForTomorrow .sect.sect3 .cont2 .swiper-slide .slide-inner .bx {
    padding: 1.3333333333rem;
  }
  .detailForTomorrow .sect.sect3 .cont2 .swiper-slide .slide-inner .bx p {
    margin-top: 1rem;
  }
}
@media (max-width: 995.98px) {
  .detailForTomorrow .sect.sect3 .cont2 .container {
    gap: 1.1111111111rem;
  }
  .detailForTomorrow .sect.sect3 .cont2 .swiper-slide {
    max-width: 350px;
    width: 350px;
  }
}
@media (max-width: 767.98px) {
  .detailForTomorrow .sect.sect3 .cont2 {
    padding: 0 0 80px;
  }
  .detailForTomorrow .sect.sect3 .cont2 .container {
    display: block;
  }
  .detailForTomorrow .sect.sect3 .cont2 .container .tit-wrap {
    max-width: none;
  }
  .detailForTomorrow .sect.sect3 .cont2 .container .swiper {
    margin-top: 56px;
  }
  .detailForTomorrow .sect.sect3 .cont2 .container .swiper-slide {
    max-width: 300px;
    width: 300px;
  }
  .detailForTomorrow .sect.sect3 .cont2 .container .swiper-slide .slide-inner .bx p {
    font-size: 16px;
  }
  .detailForTomorrow .sect.sect3 .cont2 .container .swiper .swiper-controls {
    margin-top: 40px;
  }
  .detailForTomorrow .sect.sect3 .cont2 .container .swiper .swiper-controls .swiper-pagination {
    position: static;
    margin-top: 2.2222222222rem;
    width: calc(100% - var(--space));
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
  }
  .detailForTomorrow .sect.sect3 .cont2 .container .swiper .swiper-controls .swiper-pagination .swiper-pagination-progressbar-fill {
    display: block;
    background-color: #fff !important;
  }
}
.detailForTomorrow .sect.sect4 {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8.8888888889rem 0;
  background: linear-gradient(180deg, #FFF 30.28%, rgba(49, 199, 233, 0.15) 50%);
}
.detailForTomorrow .sect.sect4 .tit-wrap .tit {
  display: inline-block;
  position: relative;
  color: transparent;
}
.detailForTomorrow .sect.sect4 .tit-wrap .tit * {
  background-clip: text !important;
  -webkit-background-clip: text;
  background: rgba(255, 255, 255, 0.2);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
}
.detailForTomorrow .sect.sect4 .tit-wrap .tit span {
  position: absolute;
  z-index: -1;
  color: #ddd !important;
  background: none !important;
  -webkit-text-fill-color: rgb(211, 211, 211) !important;
}
.detailForTomorrow .sect.sect4 .tit-wrap .tit b {
  background: rgba(211, 211, 211, 0);
  -webkit-text-fill-color: rgba(211, 211, 211, 0);
}
.detailForTomorrow .sect.sect4 .tit-wrap .tit + p {
  margin-top: 2.2222222222rem;
}
.detailForTomorrow .sect.sect4 .bx-wrap {
  display: flex;
  gap: 1.3333333333rem;
  margin: 6.6666666667rem auto 0;
  max-width: 1300px;
}
.detailForTomorrow .sect.sect4 .bx-wrap .bx {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7777777778rem;
  padding: 2.2222222222rem;
  height: 17.8888888889rem;
  text-align: center;
  border-radius: 1.3333333333rem;
}
.detailForTomorrow .sect.sect4 .bx-wrap .bx img {
  width: 5.5555555556rem;
  height: 5.5555555556rem;
  transition: transform 0.3s;
}
.detailForTomorrow .sect.sect4 .bx-wrap .bx .text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.detailForTomorrow .sect.sect4 .bx-wrap .bx .text .icon-arr {
  transition: transform 0.3s;
}
.detailForTomorrow .sect.sect4 .bx-wrap .bx:nth-of-type(1) {
  background-color: var(--mint);
}
.detailForTomorrow .sect.sect4 .bx-wrap .bx:nth-of-type(2) {
  background-color: #111;
}
.detailForTomorrow .sect.sect4 .bx-wrap .bx:nth-of-type(3) {
  background-color: var(--blue);
}
.detailForTomorrow .sect.sect4 .bx-wrap .bx:hover img {
  transform: scale(1.1);
}
.detailForTomorrow .sect.sect4 .bx-wrap .bx:hover .icon-arr {
  transform: translateX(8px);
}
@media (max-width: 1199.98px) {
  .detailForTomorrow .sect.sect4 .bx-wrap {
    gap: 0.8888888889rem;
  }
  .detailForTomorrow .sect.sect4 .bx-wrap .bx {
    height: 19.4444444444rem;
  }
  .detailForTomorrow .sect.sect4 .bx-wrap .bx img {
    width: 50%;
  }
}
@media (max-width: 995.98px) {
  .detailForTomorrow .sect.sect4 .bx-wrap {
    flex-direction: column;
  }
  .detailForTomorrow .sect.sect4 .bx-wrap .bx {
    gap: 1.3333333333rem;
  }
  .detailForTomorrow .sect.sect4 .bx-wrap .bx img {
    width: 80px;
  }
  .detailForTomorrow .sect.sect4 .bx-wrap .bx:hover img {
    transform: scale(1.05);
  }
  .detailForTomorrow .sect.sect4 .bx-wrap .bx:hover .icon-arr {
    transform: translateX(4px);
  }
}
@media (max-width: 575.98px) {
  .detailForTomorrow .sect.sect4 .tit-wrap .tit {
    font-size: 32px !important;
  }
}