// Grid
$grid-breakpoints: ( 
	"sm": 576px,
	"md": 768px,
	"lg": 996px,
	"xl": 1200px,
	"xxl": 1440px,
	"xxxl": 1600px,
);
$mobilevh : calc((var(--vh, 1vh) * 100)) ;

// Typography
$font-kor: 'Pretendard', sans-serif;;
$font-eng: "Readex Pro", sans-serif;

$base-rem: 18px;
$base-rem-mobile: 14px;

$line-height-base: 1.5;