@charset "utf-8";
// kr
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
// eng
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

:root {
	--body: #111;
	--gray: #333;
	--light: #666;
	--white: #fff;
    --blue: #10218B;
    --mint: #1BA0FF;

	--space: 120px;
    @include media-max(xxl){
        --space: 60px;
    }
    @include media-max(lg){
        --space: 40px;
    }
    @include media-max(sm){
        --space: 16px;
    }
}

body, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, label{
	margin: 0;
	padding: 0;
    font-family: 'Pretendard', -apple-system, sans-serif; 
	color: inherit;
	outline: 0;
	border: 0;
	font-weight: inherit;
}
body{ 
	line-height: $line-height-base;
	word-break: keep-all;
	color: var(--body);
	* {
		box-sizing: border-box;
	}
}
a{
	color: inherit ;
	&:hover, &:focus, &:active{ 
		text-decoration: none !important;
		color: inherit ;
	}
}
li{
	list-style: none
}
address, em{
	font-style: normal
}
table{
	width: 100%
}
textarea{
	resize: none;
	font-size: 1rem;
	outline: 0;
}
u{
	text-decoration-thickness: 1px;
	text-underline-position: under;
}
img{
	vertical-align: top;
	max-width: 100%
}
button{
	cursor: pointer;
	outline: 0 !important;
	&.no-style{
		background: none;
		line-height: 1;
		border: 0;
	}
} 

.font-kor{font-family: $font-kor}
.font-eng{font-family: $font-eng}
.text-base{font-size: 1rem !important;}

.fw-300 {font-weight: 300 !important;} //300
.fw-400 {font-weight: 400 !important;} //400
.fw-500 {font-weight: 500 !important;} //500
.fw-600 {font-weight: 600 !important;} //600
.fw-700 {font-weight: 700 !important;} //700
.fw-800 {font-weight: 800 !important;} //800
.fw-900 {font-weight: 900 !important;} //900

.display-01 {
	font-size: rempx(100px);
	font-weight: 700 !important;
	letter-spacing: rempx(-3px);

	@include media-max(xxl) {
		font-size: rempx(72px);
	}
}
.display-02 {
	font-size: rempx(72px);
	font-weight: 800 !important;
	letter-spacing: rempx(-2.16px);

	@include media-max(xxl) {
		font-size: rempx(64px);
	}

	@include media-max(sm) {
		font-size: 40px;
	}
}

.tit01 {
	font-size: rempx(64px);
	font-weight: 800;
	letter-spacing: rempx(-1.92px);

	@include media-max(xxl) {
		font-size: rempx(56px);
	}

	@include media-max(xl) {
		font-size: rempx(48px);
	}

	@include media-max(sm) {
		font-size: 40px;
	}
}
.tit02 {
	font-size: rempx(56px);
	font-weight: 800;
	letter-spacing: rempx(-1.68px);

	@include media-max(xxl) {
		font-size: rempx(48px);
	}
	
	@include media-max(xl) {
		font-size: 40px;
	}
}
.tit03 {
	font-size: rempx(32px);
	font-weight: 800;
	letter-spacing: rempx(-0.96px);

	@include media-max(xl) {
		font-size: rempx(28px);
	}

	@include media-max(sm) {
		font-size: 24px;
	}
}
.tit04 {
	font-size: rempx(28px);
	letter-spacing: rempx(-0.84px);

	@include media-max(xl) {
		font-size: 24px;
	}

	@include media-max(sm) {
		font-size: 20px;
	}
}
.tit05 {
	font-size: rempx(24px);
	letter-spacing: rempx(-0.72px);

	@include media-max(xl) {
		font-size: 20px;
	}

	@include media-max(sm) {
		font-size: 18px;
	}
}

.text-lg {
	font-size: rempx(20px);
	letter-spacing: rempx(-0.6px);

	@include media-max(sm) {
		font-size: 18px;
	}
}

.text-sm {
	font-size: 14px;
	letter-spacing: rempx(-0.42px);
}

.text-blue {color: var(--blue) !important;}
.text-mint {color: var(--mint) !important;}
.text-gray {color: var(--gray) !important;}
.text-light {color: var(--light) !important;}

.bg-blue {background-color: var(--blue) !important;}


@include media-min(sm){
	.scrollset{
		&::-webkit-scrollbar{width:3px;}
		&::-webkit-scrollbar-track{border-left:3px solid transparent;background: #efefef;background-clip: padding-box;cursor:pointer}
		&::-webkit-scrollbar-thumb{background: #BCBCBC;border-radius:0;background-clip: padding-box;cursor:pointer}
		&::-webkit-scrollbar-thumb:hover{cursor:pointer}
	}
}
