@charset "utf-8";
/* 
	컴포넌트 스타일
	:: icon
	:: Button ,badge
	:: Form
	:: box 
	:: list
	:: Modal 
	:: Swiper
*/

// Icon
.icon-arr {
	display: block;
	width: rempx(24px); height: rempx(24px);
	background: url(../images/btn-arr.svg) no-repeat center/contain;
	transition: transform 0.3s;

	&.wh {
		filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(12deg) brightness(104%) contrast(101%);
	}
}

// Button
.bt {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: rempx(8px);
	padding: rempx(16px) rempx(32px);
	border-radius: 100px;
	font-weight: 800;
	line-height: 1.3;
	background-color: #fff;
	text-wrap: nowrap;

	&:has(.icon-arr) {
		padding: rempx(16px) rempx(24px) rempx(16px) rempx(32px);

		&.bt-lg {
			padding: rempx(24px) rempx(24px) rempx(24px) rempx(32px);
		}

		&:hover, &:focus {
			.icon-arr {
				transform: translateX(rempx(4px));
			}
		}
	}

	&-lg {
		padding: rempx(24px) rempx(32px);
	}

	&-outline {
		background-color: var(--blue);
		color: #fff;
		border: 2px solid var(--blue);
		transition: all 0.3s;

		&:hover, &:focus {
			background-color: #fff;
			color: var(--blue);
		}
	}

	&-blue {
		border: 2px solid var(--blue);
		background: var(--blue);
		color: #fff;
		transition: all 0.3s;

		&:hover, &:focus {
			background: #fff;
			color: var(--blue);
		}
	}

	@include media-max(md) {
		padding: rempx(12px) rempx(24px);

		&:has(.icon-arr) {
			padding: rempx(12px) rempx(18px) rempx(12px) rempx(24px);

			&.bt-lg {
				padding: rempx(18px) rempx(18px) rempx(18px) rempx(24px);
			}
		}

		&-lg {
			padding: rempx(18px) rempx(24px);
		}
	}
}

// Text Deco
.text-bg-blue {
	position: relative;
	margin: 0 rempx(8px);
	line-height: 1;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 50%;left: 50%;
		transform: translate(-50%, -50%);
		width: 108%; height: 90%;
		background: var(--blue);
	}

	&.space-left {
		margin-left: rempx(15px);
	}

	&.space-right {
		margin-right: rempx(15px);
	}
}
