@charset "utf-8";
// 레이아웃
body{
    font-family: $font-kor;
    padding: 0 !important;
}
// content 
.container{
    margin: 0 auto;
    padding-left: var(--space);
    padding-right: var(--space);
    max-width: 1920px;
}